@using Telegram.BOT.WebMVC.UseCases.Category.GetCategory;
@model GetCategoryResponse

<div class="container">
    <h3>Listar Categorias</h3>
    <form asp-action="Search" method="post">
        <div class="mb-3">
            <label for="category-name" class="form-label">Nome:</label>
            <input type="text" class="form-control" id="category-name" name="name" />
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-success">Criar nova categoria</a>
            <input type="submit" class="btn btn-primary ms-2" value="Pesquisar" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>

        @if (Model.CategoryResponse.Count == 0)
        {
            <tr>
                <td colspan="2" align="center">Nenhum registro encontrado</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model.CategoryResponse)
            {
                <tr>
                    <td class="w-100">@item.Name</td>
                    <td class="d-flex">
                        <a class="btn btn-danger delete-button icon-centered me-1" asp-action="Delete" asp-route-itemid="@item.id" data-bs-toggle="modal" data-bs-target="#modalDeleteConfirmation">
                            <span class="material-symbols-outlined">
                                delete
                            </span>
                        </a>
                        <a class="btn btn-primary edit-button icon-centered me-1" asp-action="Edit" asp-route-itemid="@item.id">
                            <span class="material-symbols-outlined">
                                edit
                            </span>
                        </a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
