@using Telegram.BOT.WebMVC.UseCases.EnvVariables.CreateEnv;
@model CreateEnvRequest
@{
    var urlPrefix = Environment.GetEnvironmentVariable("URL_PREFIX") ?? "";
}
<h3>Criar variavel de ambiente</h3>
<form class="validate" action="@urlPrefix/EnvVariables/CreateAction" method="post">
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="env-key" class="form-label">Chave:</label>
                <input type="text" class="form-control" id="env-key" asp-for="Key" />
                <span class="invalid-feedback"></span>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="env-value" class="form-label">Valor:</label>
                <input type="text" class="form-control" id="env-value" asp-for="Value" />
                <span class="invalid-feedback"></span>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-success" id="btn-submit" value="Criar" />
    </div>
</form>