@{
    var urlPrefix = Environment.GetEnvironmentVariable("URL_PREFIX") ?? "";
}
<div class="text-center">
    <h1 class="display-5 mb-5">Gerenciar</h1>
    <div class="mb-3 row">
        <div class="col">
            <a href="@urlPrefix/Products/">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Produtos</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="@urlPrefix/Category/">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Categorias</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <a href="@urlPrefix/Marc/" >
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Marcas</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="@urlPrefix/EnvVariables/">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Variaveis de Ambiente</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>

