<div class="text-center">
    <h1 class="display-5">Gerenciar</h1>
    <div class="mb-3 row">
        <div class="col">
            <a asp-controller="Products" asp-action="Index">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Produtos</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="mb-3 row">
        <div class="col">
            <a asp-controller="Category" asp-action="Index">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Categorias</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-controller="Group" asp-action="Index">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Grupos</div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a asp-controller="Marc" asp-action="Index">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Marcas</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
