<form>
    <h3>Editar Grupo</h3>
    <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between">
            <span>tag1</span>
            <button class="btn btn-danger">Remover</button>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span>tag2</span>
            <button class="btn btn-danger">Remover</button>
        </li>
    </ul>
    <div class="input-group mb-3">
        <input type="text" class="form-control" id="group-tags" />
        <button class="btn btn-primary">Adcionar Tag</button>
    </div>
    <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-success" id="btn-submit" value="Salvar Alterações" />
    </div>
</form>