<form>
    <h3>Criar Marca</h3>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="marc-name" class="form-label">Nome:</label>
                <input type="text" class="form-control" id="marc-name" />
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="marc-category" class="form-label">Categoria:</label>
                <select class="form-control" id="marc-category"></select>
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-end">
        <input type="submit" class="btn btn-success" id="btn-submit" value="Criar" />
    </div>
</form>