@using Telegram.BOT.WebMVC.UseCases.Marc.GetMarc;
@model GetMarcResponse
<div class="container">
    <h3>Listar Marcas</h3>
    <form asp-action="Search" method="post">
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="marc-name" class="form-label">Nome:</label>
                    <input type="text" class="form-control" id="marc-name" name="Name" />
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="marc-category" class="form-label">Categoria:</label>
                    <select class="form-control" id="marc-category" name="CategoryId">
                        @if (Model != null)
                        {
                            @if(Model.Categories!=null)
                            {
                                @foreach (var category in Model.Categories)
                                {
                                    <option value=@category.id>@category.Name</option>
                                }
                            }
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3 d-flex justify-content-end">
            <a asp-action="Create" class="btn btn-success">Criar nova marca</a>
            <input type="submit" class="btn btn-primary ms-2" value="Pesquisar" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Categoria</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td colspan="3" align="center">Nenhum registro encontrado</td>
            </tr>
    </tbody>
</table>