html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.group-control{
    overflow: scroll;
    max-height:110px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: black;
}

h3 {
    margin-bottom: 2rem;
}

.login-container {
    height:90vh;
}

.login{
    width: 400px;
}

.placeholder-center::placeholder{
    text-align:center;
}

.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 200, 'GRAD' 0, 'opsz' 40
}

.icon-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 30px;
    max-height: 30px;
}

#deleteConfirmation {
    color: white;
}